/***********************************************************BODY********************************************************/
/* Body */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

* {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", "sans-serif";
  max-width: 1400px;
  width: 95%;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 0px;
}

/**************************************************************HEADER*****************************************************/

/* Header */

header {
  width: auto;
}

.logo-booki {
  width: 61px;
  height: 19px;
  margin: auto;
}

.head-top {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex: 1;
}

header ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

header ul li {
  display: flex;
}

header .border-blue {
  padding: 33px;
  padding-top: 23px;
}

header .border-blue:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  padding-top: 20px;
}

.title-head {
  margin-top: 40px;
}

.title-head > p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-size: 19px;
  line-height: 26px;
}

.title-head > h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
}

/*********************************************************** MAIN *****************************************************/
/* Main */

/* Search-bar */

.search-bar .map {
  display: flex;
}

.search-bar .fa-map-marker-alt {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.search-bar input {
  height: 50px;
  width: 230px;
  display: flex;
  border: #f2f2f2 1px solid;
  font-weight: 600;
  font-size: 14px;
}

.search-bar input::placeholder {
  color: black;
  padding-left: 20px;
  opacity: 1;
}

.search-bar .search {
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  background-color: #0065fc;
  cursor: pointer;
  border: none;
}

.glass {
  display: none;
}

.form-search {
  display: flex;
}

.search-bar h1 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.search-bar p {
  margin-bottom: 20px;
  color: black;
}

/* Filters */
.button-icon {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid #dfdede;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  margin: 0 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-left: 30px;
}

.filter-button i {
  padding-right: 5px;
  color: #0065fc;
}

.filter-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5%;
}

.filters-section .bloc-button1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 0.5%;
}

.filters-section .bloc-button2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 00.5%;
}

.button-icon:hover {
  background-color: #deebff;
}

.filters-section {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  padding-right: 5px;
}

.filters-section h3 {
  margin-right: 10px;
  margin-top: 15px;
  font-size: 16px;
}

.filters-section p {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* Infos */

.info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.info-section h2 {
  margin-left: 10px;
  font-size: 100%;
  font-weight: 300;
  color: black;
}

.info-section .circle-info {
  border: #f2f2f2 solid 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section i {
  font-size: 81%;
}

.section-global {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.accommodation-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  background-color: rgb(235, 235, 235);
  border-radius: 20px 20px 20px 20px;
}

.accommodation-result h2 {
  width: 90%;
  margin: 30px auto;
  margin-right: 70px;
}

.accommodation-result img {
  object-fit: cover;
  height: 110px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.accommodation-result a {
  height: auto;
  margin-right: 15px;
  flex: 30%;
}

.accommodation-result .border-picture {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 27%);
  margin-bottom: 20px;
  margin-left: 15px;
  width: auto;
  height: 185px;
}

.accommodation-result .show-plus {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.accommodation-result .bloc-card-acc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(235, 235, 235);
  border-radius: 20px 20px 20px 20px;
}

.accommodation-result .text-picture {
  font-size: 14px;
  padding: 0 10px;
  margin-top: 10px;
  line-height: 19px;
  color: black;
}

.accommodation-result .star {
  color: #0065fc;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.accommodation-result .colorblue {
  color: #0065fc;
  display: inline-block;
}

.accommodation-result .colorgrey {
  color: #d6d1d1;
}

/* Popular Section */
.popular-result {
  background: #f2f2f2;
  width: 40%;
  height: 570px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}

.popular-result .title-graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.fa-chart-line {
  font-size: 25px;
  color: #0065fc;
  margin-left: 100px;
}

.popular-result .border-popular {
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 120px;
  margin-bottom: 35px;
  display: flex;

  margin-left: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.popular-result img {
  object-fit: cover;
  height: 110px;
  width: 105px;
  border-radius: 20px 0 0 20px;
  margin: 5px 0 5px 5px;
}

.popular-result .text-picture {
  font-size: 14px;
  padding: 0 8px;
  line-height: 19px;
  margin-top: 5px;
  color: black;
  width: 169px;
  height: 60px;
  margin-bottom: 25px;
}

.popular-result h4 {
  width: auto;
}

.popular-result .star {
  color: #0065fc;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-top: 40px;

  display: flex;
  flex-direction: row;
}

.popular-result .colorgrey {
  color: #d6d1d1;
  font-size: 80%;
}

/*Activity Section*/
.activity-result {
  width: auto;
  margin-top: 50px;
}

.activity-result a {
  flex: 25%;
  margin: 2% 30px;
  height: auto;
}
.activity-result h3 {
  color: black;
}

.bloc-card {
  display: flex;
  height: 500px;
  gap: 2%;
}

.activity-result .card-column .border-activity {
  margin-bottom: 50px;
  width: auto;
}

.activity-result img {
  object-fit: cover;
  width: 500px;
  height: 350px;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.border-activity {
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  max-height: 535px;
  padding-bottom: 20px;
}

.text-activity {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 20px;
}

/***************************************************************FOOTER************************************************************/

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 50px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.section-footer {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 50px;
}

footer a {
  line-height: 30px;
  color: black;
}

@media (max-width: 992px) {
  * {
    margin: 0 0 0 0px;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

  body {
    margin: 0px auto;
    font-family: "Raleway", sans-serif;
    max-width: 992px;
    background-color: white;
    width: 95%;
  }

  /**************************************************************HEADER*****************************************************/

  /* Header */

  header {
    width: auto;
  }

  .logo-booki {
    width: 61px;
    height: 19px;
    margin: auto;
  }

  .head-top {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    display: flex;
  }

  header ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
  }

  header ul li {
    display: flex;
  }

  header .border-blue {
    padding: 33px;
    padding-top: 23px;
  }

  header .border-blue:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
    padding-top: 20px;
  }

  .title-head {
    margin-top: 40px;
  }

  .title-head > p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
  }

  .title-head h1 {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
  }

  /*********************************************************** MAIN *****************************************************/
  /* Main */

  /* Search-bar */

  .search-bar .map {
    display: flex;
  }

  .search-bar .fa-map-marker-alt {
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
  }

  .search-bar input {
    height: 50px;
    width: 230px;
    display: flex;
    border: #f2f2f2 1px solid;
    font-weight: 600;
    font-size: 100%;
  }

  .search-bar input::placeholder {
    color: black;
    padding-left: 20px;
    opacity: 1;
  }

  .search-bar .search {
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    cursor: pointer;
    border: none;
  }

  .glass {
    display: none;
  }

  .form-search {
    display: flex;
  }

  .search-bar h1 {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .search-bar p {
    margin-bottom: 20px;
    color: black;
  }

  /* Filters */
  .button-icon {
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid #dfdede;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    margin: 0 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .filter-button i {
    padding-right: 5px;
    color: #0065fc;
  }

  .filter-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .filters-section .bloc-button1 {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .filters-section .bloc-button2 {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .button-icon:hover {
    background-color: #deebff;
  }

  .filters-section {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;

    padding-right: 5px;
  }

  .filters-section > h3 {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 14px;
  }

  .filters-section p {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  /* Infos */

  .info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  .info-section h2 {
    margin-left: 10px;
    font-size: 100%;
    font-weight: 300;
    color: black;
  }

  .info-section .circle-info {
    border: #f2f2f2 solid 2px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-section i {
    font-size: 81%;
  }

  .section-global {
    margin-top: 25px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }

  .accommodation-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(235, 235, 235);
    border-radius: 20px 20px 20px 20px;
    height: 30%;
    width: 100%;
  }

  .accommodation-result h2 {
    margin-left: 25px;
  }
  .accommodation-result a {
    flex: 25%;
    margin: 10px 20px;
  }

  .accommodation-result img {
    object-fit: cover;
    height: 100px;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .accommodation-result .border-picture {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 27%);
    margin: 0;
    margin-bottom: 30px;
  }

  .accommodation-result .show-plus {
    width: 100%;
    margin-left: 20px;
    font-weight: 700;
    font-size: 14px;
  }

  .accommodation-result .text-picture {
    font-size: 16px;
    padding: 0 8px;
    line-height: 19px;
    color: black;
  }

  .accommodation-result .star {
    color: #0065fc;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
  }

  .accommodation-result .colorblue {
    color: #0065fc;
    display: inline-block;
  }

  .accommodation-result .colorgrey {
    color: #d6d1d1;
  }

  /* Popular Section */
  .popular-result {
    margin-top: 10%;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(235, 235, 235);
    border-radius: 20px 20px 20px 20px;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
  }

  .popular-result a {
    width: 29%;
    margin: auto 10px;
    padding-left: 20px;
  }

  .popular-result .title-graph {
    display: flex;
    align-items: baseline;
    padding: 0 30px;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
  }

  .popular-result p {
    white-space: nowrap;
  }

  .popular-result a {
    display: flex;
    align-items: baseline;
    width: auto;
    margin: auto;
    box-sizing: border-box;
  }

  .fa-chart-line {
    font-size: 25px;
    color: #0065fc;
    margin-left: 70%;
  }

  .bloc-cardpop {
    flex-direction: row;
    display: flex;
  }

  .popular-result .border-popular {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 27%);
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    height: 144px;
    border: 5px solid white;
    margin: 20px 0 20px auto;
    margin-bottom: 50px;
  }

  .popular-result img {
    display: flex;
    object-fit: cover;
    height: 145px;
    width: 100px;
    border-radius: 20px 0 0 20px;
    margin: 0 0 0 0;
  }

  .popular-result .text-picture {
    flex-direction: column;
    display: flex;
    font-size: 14px;
    width: 55%;
    height: 80px;
  }

  .popular-result .star {
    color: #0065fc;
    width: 12px;
    height: 12px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .popular-result .colorgrey {
    color: #d6d1d1;
  }

  .popular-result .text-picture {
    margin-top: 10px;
    font-size: 13px;
    color: black;
  }

  .popular-result .colorgrey {
    color: #d6d1d1;
  }

  /*Activity Section*/
  .activity-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2%;
  }

  .activity-result p {
    margin: 0 0 0 0;
    color: black;
  }

  .bloc-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    flex: 1;
  }

  .activity-result .card-column {
    align-self: center;
    width: 100%;
    height: 211px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
  }

  .activity-result img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .activity-result a {
    height: 500px;
    width: 50%;
  }

  .border-activity {
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    max-height: 225px;
    padding-bottom: 20px;
    height: 200px;
  }

  .text-activity {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    height: 25%;
    margin: 0 0 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
  }

  /***************************************************************FOOTER************************************************************/

  /* Footer */

  footer {
    display: flex;
    background-color: #f2f2f2;
    padding: 50px 0 0 0;
    width: 100%;
    margin-top: 100px;
    border-radius: 0px;
  }

  .section-footer {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
    padding-left: 10px;
  }

  footer a {
    line-height: 30px;
    color: black;
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

  body {
    font-family: "Raleway", "sans-serif";
    max-width: 768px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    margin: auto;
  }

  /**************************************************************HEADER*****************************************************/

  /* Header */

  .logo-booki {
    width: 61px;
    height: 19px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .head-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  header nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid #dce0e67c;
  }

  header ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
  }

  header ul li {
    display: flex;
    width: 100%;
  }

  header .border-blue:hover {
    border-top: none;
    border-bottom: 4px solid #0065fc;
  }

  .title-head {
    margin-top: 40px;
  }

  .title-head p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
  }

  .title-head h1 {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
  }

  /*********************************************************** MAIN *****************************************************/
  /* Main */

  /* Search-bar */

  .form-search {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    appearance: none;
    width: 100%;
    height: auto;
  }

  .search-bar .fa-map-marker-alt {
    border-radius: 20px 0 0 20px;
    border: 1px solid #f2f2f2;
    flex: 0.5;
    width: auto;
  }

  .search-bar input {
    border: 1px solid #f2f2f2;
    flex: 2;
    color: rgb(15, 14, 14);
    padding: 10px;
    width: 100%;
    height: auto;
  }

  .search-bar input::placeholder {
    color: black;
    padding-left: 20px;
    opacity: 1;
    display: flex;
    width: 100%;
  }

  .search-bar .search {
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    cursor: pointer;
    border: none;
    display: none;
  }

  .glass {
    background-color: #0065fc;
    color: white;
    border-style: outset;
    border: #deebff;
    border-radius: 0% 20px 20px 0%;
    width: 90px;
    display: block;
    flex: 0.5;
    font-weight: 900;
  }

  .search-bar h1 {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .search-bar p {
    margin-bottom: 20px;
    color: black;
  }

  /* Filters */

  .form-button {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: auto;
  }

  .label-filtre {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  .button-icon {
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    width: 50%;
    min-width: 150px;
    height: 50px;
    margin: 10px 0;
    gap: 5px;
    margin-left: 20px;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .filter-button i {
    padding-right: 5px;
    color: #0065fc;
  }

  .filter-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }

  .button-icon:hover {
    background-color: #deebff;
  }

  .filters-section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-width: 300px;
    justify-content: space-between;
  }

  /* Infos */

  .info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  .info-section h2 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 300;
    color: black;
  }

  .info-section .circle-info {
    border: #f2f2f2 solid 2px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-section i {
    font-size: 81%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section-global {
    margin-top: 25px;
    margin-bottom: auto;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3%;
  }

  .accommodation-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: white;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
  }

  .accommodation-result a {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .accommodation-result img {
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .accommodation-result .bloc-card-acc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    background-color: white;
  }

  .accommodation-result .border-picture {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: white;
    flex: 1;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 27%);
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }

  .accommodation-result .show-plus {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: none;
  }

  .accommodation-result .text-picture {
    font-size: 16px;
    padding: 0 8px;
    line-height: 19px;
  }

  .accommodation-result h4 {
    margin-top: 0;
    line-height: 19px;
  }

  .accommodation-result .star {
    color: #0065fc;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
  }

  .accommodation-result .colorgrey {
    color: #d6d1d1;
  }

  /* Popular Section */

  .popular-result {
    flex-wrap: wrap;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 20px auto;
  }

  .popular-result .title-graph {
    margin: 0px 0px;
    padding-top: 40px;
    width: 100%;
  }

  .popular-result p {
    white-space: nowrap;
  }
  .fa-chart-line {
    display: flex;
    align-items: baseline;
    width: auto;
    margin: auto 30px;
    box-sizing: border-box;
  }

  .popular-result a {
    display: flex;
    align-items: baseline;
    width: auto;
    margin: auto;
    box-sizing: border-box;
  }

  .popular-result .border-popular {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
    width: 85%;
    max-width: 380px;
    min-width: 330px;
    height: 144px;
    border: 5px solid white;
    margin: 20px auto;
  }

  .popular-result img {
    object-fit: cover;
    display: flex;
    width: 150px;
    border-radius: 20px 0 0 20px;
  }

  .bloc-cardpop {
    flex-direction: column;
    width: 100%;
  }

  .popular-result p {
    font-size: 14px;
    white-space: normal;
  }

  .popular-result .text-picture {
    flex-direction: column;
    display: flex;
    font-size: 14px;
    margin: 0;
    justify-content: space-between;
    height: 40px;
    margin: 5px;
  }
  .popular-result .star {
    color: #0065fc;
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  .popular-result .colorgrey {
    color: #d6d1d1;
  }

  /*Activity Section*/
  .activity-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .activity-result h2 {
    flex-direction: column;
    display: flex;
    font-size: 22px;
    width: 55%;
    height: 80px;
  }

  .bloc-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .activity-result .card-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  .activity-result img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .activity-result a {
    margin: auto;
    width: 100%;
  }

  .border-activity {
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    height: 500px;

    padding-bottom: 20px;
  }

  .text-activity {
    height: 50px;
    width: auto;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
  }

  /***************************************************************FOOTER************************************************************/

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    background-color: #f2f2f2;
    gap: 20px;
  }

  .section-footer {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  footer a {
    line-height: 30px;
    color: black;
  }
}
